<div>
  <div>
    <button>Tudo</button>
    <button>Em aberto</button>
    <button>Finalizados</button>
  </div>
  <div>
    <h2>Histórico</h2>
<table >
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>CPF</th>
      <th>Dispositivo</th>
      <th>Defeito</th>
      <th>Valor</th>
      <th>Telefone</th>
      <th>Observação</th>
    </tr>
  </thead>
  <tbody>
    @for (f of ordemServico.formularios$ | async; track $index) {
      <tr>
        <td>{{ f.id }}</td>
        <td>{{ f.nome }}</td>
        <td>{{ f.cpf }}</td>
        <td>{{ f.dispositivo }}</td>
        <td>{{ f.defeito }}</td>
        <td>{{ f.valor }}</td>
        <td>{{ f.nTelefone }}</td>
        <td>{{ f.observacao }}</td>
      </tr>
    } @empty {
      <tr>
        <td colspan="8">>Nenhum registro encontrado no banco de dados.</td>
      </tr>
    }
  </tbody>
</table>

<!-- </div> -->